<!-- Jquery -->
<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>

<!-- Bootstrap JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<!-- Scrollbar JavaScript -->
<script src="/js/scrollbar.js"></script>

<!--Wave Effects -->
<script src="/js/waves.js"></script>

<!--Menu sidebar -->
<script src="/js/sidebarMenu.js"></script>

<!--Custom JavaScript -->
<script src="/js/custom.js"></script>

<!-- ============================================================== -->
<!-- This page plugins -->
<!-- ============================================================== -->


<!--sparkline JavaScript -->
<script src="/lib/jquery.sparkline.js"></script>

<!-- EASY PIE CHART JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/easy-pie-chart/2.1.6/easypiechart.js" integrity="sha512-pqsFIC0/JH9kXk5VaPG+emTgUBxwl5yo+rY+t/OZmhzH+PhP6PyyqY/hAkXxWw1TUcZXdpTdtHZwewp7hoYV9Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- Vector map JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jvectormap/2.0.5/jquery-jvectormap.js" integrity="sha512-Q14+1TrWEvei8tRKsIz9VHDv0FWiBH7fKcipKo96Cn1xV4C/aiZCZ3DJssn05eUESYz4RIUXU0Ux0zAD1/qW2g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- Chart JS -->
<script src="/js/chart.js"></script>